---
import Top5Explorer from "../../components/Top5Explorer.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="经济学 TOP5 最新卷期 · Academic Door"
  description="AER、JPE、QJE、REStud 与 Econometrica 最新卷期中英文目录和摘要"
>
  <main>
    <Top5Explorer />
  </main>
</Layout>
